@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";
    var jimbos = JimboModel.Jimbos;
    var jimboNames = jimbos.Select(j => j.Name).ToArray();
    var jimboIQs = jimbos.Select(j => j.IQ).ToArray();
    var jimboNameStrings = Html.Raw(JsonSerializer.Serialize(jimboNames));
    var jimboIqStrings = Html.Raw(JsonSerializer.Serialize(jimboIQs));
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <button onclick="sendTestData()">Send Test Data & Update Chart</button>
</div>

<canvas id="myChart"></canvas>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
    <script>
        function sendTestData() {
            $.ajax({
                url: '/Home/Index/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'first': 5, 'numberOne': 123, 'message': 'Hello World', 'surplus': 'This is a surplus' }),
                success: function (data) {
                    console.log('success');
                    console.log(data);
                    
                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: @(jimboNameStrings),
                            datasets: [{
                                label: 'IQ',
                                data: @(jimboIqStrings),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function (data) {
                    console.log('error');
                    console.log(data);
                }
            });
        }
    </script>
}